# TD2 : Denormalization

In [30]:
import pandas as pd
import json

# Load data from CSV files into DataFrames
employees_df = pd.read_csv('Data\\employees.csv', header=None)
departments_df = pd.read_csv('Data\\departments.csv', header=None)
dept_emp_df = pd.read_csv('Data\\dept_emp.csv', header=None)
dept_manager_df = pd.read_csv('Data\\dept_manager.csv', header=None)
titles_df = pd.read_csv('Data\\titles.csv', header=None)
salaries_df = pd.read_csv('Data\\salaries.csv', header=None)

In [31]:
employees_df

             0           1          2         3  4           5
0        10001  1953-09-02     Georgi   Facello  M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel  F  1985-11-21
2        10003  1959-12-03      Parto   Bamford  M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick  M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak  M  1989-09-12
...        ...         ...        ...       ... ..         ...
300019  499995  1958-09-24     Dekang  Lichtner  F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz  M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart  M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel  M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda  M  1997-11-30

[300024 rows x 6 columns]

In [33]:
employees_df.columns=['emp_no', 'birth_date', 'first_name', 'last_name', 'gender', 'hire_date']
departments_df.columns=['dept_no','dept_name']
dept_emp_df.columns=['emp_no', 'dept_no', 'from_date', 'to_date']
dept_manager_df.columns=['dept_no', 'emp_no', 'from_date', 'to_date']
titles_df.columns=['emp_no', 'title', 'from_date', 'to_date']
salaries_df.columns=['emp_no','salary', 'from_date', 'to_date']

## Employee-Centric Denormalization

In [34]:
dept_emp_new=pd.merge(dept_emp_df, departments_df, on='dept_no', how='left')
dept_emp_new.head()

   emp_no dept_no   from_date     to_date        dept_name
0   10001    d005  1986-06-26  9999-01-01      Development
1   10002    d007  1996-08-03  9999-01-01            Sales
2   10003    d004  1995-12-03  9999-01-01       Production
3   10004    d004  1986-12-01  9999-01-01       Production
4   10005    d003  1989-09-12  9999-01-01  Human Resources

In [35]:
dept_manager_new=pd.merge(dept_manager_df, departments_df, on='dept_no', how='left')
dept_manager_new.head()

  dept_no  emp_no   from_date     to_date        dept_name
0    d001  110022  1985-01-01  1991-10-01        Marketing
1    d001  110039  1991-10-01  9999-01-01        Marketing
2    d002  110085  1985-01-01  1989-12-17          Finance
3    d002  110114  1989-12-17  9999-01-01          Finance
4    d003  110183  1985-01-01  1992-03-21  Human Resources

In [36]:
# Create a dictionary to store employee-centric data
employee_data = {}

In [37]:
# Iterate through employees
for _, employee in employees_df.iterrows():
    emp_no = employee['emp_no']
    employee_data[emp_no] = {
        'emp_no': emp_no,
        'first_name': employee['first_name'],
        'last_name': employee['last_name'],
        'gender': employee['gender'],
        'birth_date': employee['birth_date'],
        'hire_date': employee['hire_date'],
        'departments': [],
        'titles': [],
        'salaries': []
    }

In [38]:
# Add department information
for _, dept_emp in dept_emp_new.iterrows():
    emp_no = dept_emp['emp_no']
    dept_no = dept_emp['dept_no']
    dept_name=dept_emp['dept_name']
    from_date = dept_emp['from_date']
    to_date = dept_emp['to_date']
    
    if emp_no in employee_data:
        employee_data[emp_no]['departments'].append({
            'dept_no': dept_no,
            'dept_name': dept_name,
            'from_date': from_date,
            'to_date': to_date
        })

In [39]:
# Add manager information
for _, dept_manager in dept_manager_new.iterrows():
    emp_no = dept_manager['emp_no']
    dept_no = dept_manager['dept_no']
    dept_name=dept_manager['dept_name']
    from_date = dept_manager['from_date']
    to_date = dept_manager['to_date']
    
    if emp_no in employee_data:
        employee_data[emp_no]['departments'].append({
            'dept_no': dept_no,
            'dept_name':dept_name,
            'from_date': from_date,
            'to_date': to_date,
            'is_manager': True
        })

In [40]:
# Add title information
for _, title in titles_df.iterrows():
    emp_no = title['emp_no']
    title_name = title['title']
    from_date = title['from_date']
    to_date = title['to_date']
    
    if emp_no in employee_data:
        employee_data[emp_no]['titles'].append({
            'title': title_name,
            'from_date': from_date,
            'to_date': to_date
        })

In [41]:
# Add salary information
for _, salary in salaries_df.iterrows():
    emp_no = salary['emp_no']
    salary_amount = salary['salary']
    from_date = salary['from_date']
    to_date = salary['to_date']
    
    if emp_no in employee_data:
        employee_data[emp_no]['salaries'].append({
            'salary': salary_amount,
            'from_date': from_date,
            'to_date': to_date
        })

In [42]:
# Convert the employee data dictionary to a list of employee records
employee_records = list(employee_data.values())

# Export the data to a JSON file
with open("employee_data4.json", 'w') as json_file:
    json.dump(employee_records, json_file)

print("Data denormalized and exported to employee_data.json.")

Data denormalized and exported to employee_data.json.

In [46]:
# Read the file content
with open('employee_data4.json', 'r') as file:
    content = file.read()

# Replace the target string
content_modified = content.replace('"dept_name": NaN', '"dept_name": "Customer Service"')

# Write the modified content to a new file
with open('employee_data5_modified.json', 'w') as file:
    file.write(content_modified)

In [44]:
len(data)

NameError: name 'data' is not defined

## Simple Department Centric Denormalization

In [ ]:
dept_emp_new2=pd.merge(dept_emp_df, employees_df, on='emp_no', how='left')
dept_emp_new2.head()

,emp_no,dept_no,from_date,to_date,birth_date,first_name,last_name,gender,hire_date
0,10002,d007,1996-08-03,9999-01-01,1964-06-02,Bezalel,Simmel,F,1985-11-21
1,10003,d004,1995-12-03,9999-01-01,1959-12-03,Parto,Bamford,M,1986-08-28
2,10004,d004,1986-12-01,9999-01-01,1954-05-01,Chirstian,Koblick,M,1986-12-01
3,10005,d003,1989-09-12,9999-01-01,1955-01-21,Kyoichi,Maliniak,M,1989-09-12
4,10006,d005,1990-08-05,9999-01-01,1953-04-20,Anneke,Preusig,F,1989-06-02

In [12]:
dept_manager_new2=pd.merge(dept_manager_df, employees_df, on='emp_no', how='left')
dept_manager_new2.head()

,dept_no,emp_no,from_date,to_date,birth_date,first_name,last_name,gender,hire_date
0,d001,110039,1991-10-01,9999-01-01,1963-06-21,Vishwani,Minakawa,M,1986-04-12
1,d002,110085,1985-01-01,1989-12-17,1959-10-28,Ebru,Alpin,M,1985-01-01
2,d002,110114,1989-12-17,9999-01-01,1957-03-28,Isamu,Legleitner,F,1985-01-14
3,d003,110183,1985-01-01,1992-03-21,1953-06-24,Shirish,Ossenbruggen,F,1985-01-01
4,d003,110228,1992-03-21,9999-01-01,1958-12-02,Karsten,Sigstam,F,1985-08-04

In [13]:
department_data={}

In [14]:
for _, department in departments_df.iterrows():
    dept_no = department['dept_no']
    department_data[dept_no] = {
        'dept_no': dept_no,
        'dept_name': department['dept_name'],
        'employees': [],
        'managers': []
    }

In [15]:
for _, dept_emp in dept_emp_df.iterrows():
    emp_no = dept_emp['emp_no']
    dept_no = dept_emp['dept_no']
    from_date = dept_emp['from_date']
    to_date = dept_emp['to_date']
    
    if dept_no in department_data:
        department_data[dept_no]['employees'].append({
            'emp_no': emp_no,
            'from_date': from_date,
            'to_date': to_date
        })

In [16]:
for _, dept_manager in dept_manager_df.iterrows():
    emp_no = dept_manager['emp_no']
    dept_no = dept_manager['dept_no']
    from_date = dept_manager['from_date']
    to_date = dept_manager['to_date']
    
    if dept_no in department_data:
        department_data[dept_no]['managers'].append({
            'emp_no': emp_no,
            'from_date': from_date,
            'to_date': to_date
        })

In [17]:
department_records = list(department_data.values())

with open('department_data.json', 'w') as json_file:
    json.dump(department_records, json_file, indent=2)

print("Data denormalized and exported to department_data.json.")

Data denormalized and exported to department_data.json.

## Department-centric Denormalization

In [18]:
department_data={}
for _, department in departments_df.iterrows():
    dept_no = department['dept_no']
    department_data[dept_no] = {
        'dept_no': dept_no,
        'dept_name': department['dept_name'],
        'employees': [],
        'managers': []  # Initialize the 'managers' list here
    }

In [19]:
#for _, department in departments_df.iterrows():
    #dept_no = department['dept_no']
    #department_data[dept_no] = {
     #   'dept_no': dept_no,
      #  'dept_name': department['dept_name'],
       # 'employees': []
    #}

In [20]:
for _, employee in employees_df.iterrows():
    emp_no = employee['emp_no']
    emp_data = {
        'emp_no': emp_no,
        'first_name': employee['first_name'],
        'last_name': employee['last_name'],
        'gender': employee['gender'],
        'birth_date': employee['birth_date'],
        'hire_date': employee['hire_date'],
        'titles': [],
        'salaries': []
    }
    
    titles_for_employee = titles_df[titles_df['emp_no'] == emp_no]
    for _, title_record in titles_for_employee.iterrows():
        emp_data['titles'].append({
            'title': title_record['title'],
            'from_date': title_record['from_date'],
            'to_date': title_record['to_date']
        })
    
    salaries_for_employee = salaries_df[salaries_df['emp_no'] == emp_no]
    for _, salary_record in salaries_for_employee.iterrows():
        emp_data['salaries'].append({
            'salary': salary_record['salary'],
            'from_date': salary_record['from_date'],
            'to_date': salary_record['to_date']
        })
        
    # Check if the employee is also a manager
    is_manager = len(dept_manager_df[(dept_manager_df['emp_no'] == emp_no)]) > 0
    
    # Add the employee data to the appropriate department
    emp_departments = dept_emp_df[dept_emp_df['emp_no'] == emp_no]
    for _, emp_department in emp_departments.iterrows():
        dept_no = emp_department['dept_no']
        if dept_no in department_data:
            if is_manager:
                department_data[dept_no]['managers'].append(emp_data)
            else:
                department_data[dept_no]['employees'].append(emp_data)

KeyboardInterrupt:

In [ ]:
department_data

{'d005': {'dept_no': 'd005',
  'dept_name': 'Development',
  'employees': [],
  'managers': [{'emp_no': 110511,
    'first_name': 'DeForest',
    'last_name': 'Hagimont',
    'gender': 'M',
    'birth_date': '1957-07-08',
    'hire_date': '1985-01-01',
    'titles': [{'title': 'Manager',
      'from_date': '1985-01-01',
      'to_date': '1992-04-25'},
     {'title': 'Technique Leader',
      'from_date': '1992-04-25',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 48626,
      'from_date': '1985-01-01',
      'to_date': '1986-01-01'},
     {'salary': 49148, 'from_date': '1986-01-01', 'to_date': '1987-01-01'},
     {'salary': 49877, 'from_date': '1987-01-01', 'to_date': '1988-01-01'},
     {'salary': 51690, 'from_date': '1988-01-01', 'to_date': '1988-12-31'},
     {'salary': 52342, 'from_date': '1988-12-31', 'to_date': '1989-12-31'},
     {'salary': 54300, 'from_date': '1989-12-31', 'to_date': '1990-12-31'},
     {'salary': 56962, 'from_date': '1990-12-31', 'to_date': '1991-12-31'},
     {'salary': 59070, 'from_date': '1991-12-31', 'to_date': '1992-12-30'},
     {'salary': 62206, 'from_date': '1992-12-30', 'to_date': '1993-12-30'},
     {'salary': 64431, 'from_date': '1993-12-30', 'to_date': '1994-12-30'},
     {'salary': 66656, 'from_date': '1994-12-30', 'to_date': '1995-12-30'},
     {'salary': 70698, 'from_date': '1995-12-30', 'to_date': '1996-12-29'},
     {'salary': 73013, 'from_date': '1996-12-29', 'to_date': '1997-12-29'},
     {'salary': 74056, 'from_date': '1997-12-29', 'to_date': '1998-12-29'},
     {'salary': 73614, 'from_date': '1998-12-29', 'to_date': '1999-12-29'},
     {'salary': 73350, 'from_date': '1999-12-29', 'to_date': '2000-12-28'},
     {'salary': 73285, 'from_date': '2000-12-28', 'to_date': '2001-12-28'},
     {'salary': 72903, 'from_date': '2001-12-28', 'to_date': '9999-01-01'}]},
   {'emp_no': 110567,
    'first_name': 'Leon',
    'last_name': 'DasSarma',
    'gender': 'F',
    'birth_date': '1964-04-25',
    'hire_date': '1986-10-21',
    'titles': [{'title': 'Manager',
      'from_date': '1992-04-25',
      'to_date': '9999-01-01'},
     {'title': 'Technique Leader',
      'from_date': '1986-10-21',
      'to_date': '1992-04-25'}],
    'salaries': [{'salary': 40000,
      'from_date': '1986-10-21',
      'to_date': '1987-10-21'},
     {'salary': 42616, 'from_date': '1987-10-21', 'to_date': '1988-10-20'},
     {'salary': 44173, 'from_date': '1988-10-20', 'to_date': '1989-10-20'},
     {'salary': 48434, 'from_date': '1989-10-20', 'to_date': '1990-10-20'},
     {'salary': 48535, 'from_date': '1990-10-20', 'to_date': '1991-10-20'},
     {'salary': 50276, 'from_date': '1991-10-20', 'to_date': '1992-10-19'},
     {'salary': 53205, 'from_date': '1992-10-19', 'to_date': '1993-10-19'},
     {'salary': 57384, 'from_date': '1993-10-19', 'to_date': '1994-10-19'},
     {'salary': 56966, 'from_date': '1994-10-19', 'to_date': '1995-10-19'},
     {'salary': 59878, 'from_date': '1995-10-19', 'to_date': '1996-10-18'},
     {'salary': 62829, 'from_date': '1996-10-18', 'to_date': '1997-10-18'},
     {'salary': 63249, 'from_date': '1997-10-18', 'to_date': '1998-10-18'},
     {'salary': 63487, 'from_date': '1998-10-18', 'to_date': '1999-10-18'},
     {'salary': 66307, 'from_date': '1999-10-18', 'to_date': '2000-10-17'},
     {'salary': 70300, 'from_date': '2000-10-17', 'to_date': '2001-10-17'},
     {'salary': 74510, 'from_date': '2001-10-17', 'to_date': '9999-01-01'}]}]},
 'd002': {'dept_no': 'd002',
  'dept_name': 'Finance',
  'employees': [],
  'managers': [{'emp_no': 110085,
    'first_name': 'Ebru',
    'last_name': 'Alpin',
    'gender': 'M',
    'birth_date': '1959-10-28',
    'hire_date': '1985-01-01',
    'titles': [{'title': 'Manager',
      'from_date': '1985-01-01',
      'to_date': '1989-12-17'},
     {'title': 'Senior Staff',
      'from_date': '1989-12-17',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 60026,
      'from_date': '1985-01-01',
      'to_date': '1986-01-01'},
     {'salary': 61808, 'from_date': '1986-01-01', 'to_date': '1987-01-01'},
     {'salary': 62003, 'from_date': '1987-01-01', 'to_date': '1988-01-01'},
     {'salary': 64775, 'from_date': '1988-01-01', 'to_date': '1988-12-31'},
     {'salary': 65105, 'from_date': '1988-12-31', 'to_date': '1989-12-31'},
     {'salary': 66790, 'from_date': '1989-12-31', 'to_date': '1990-12-31'},
     {'salary': 67827, 'from_date': '1990-12-31', 'to_date': '1991-12-31'},
     {'salary': 68195, 'from_date': '1991-12-31', 'to_date': '1992-12-30'},
     {'salary': 70253, 'from_date': '1992-12-30', 'to_date': '1993-12-30'},
     {'salary': 72727, 'from_date': '1993-12-30', 'to_date': '1994-12-30'},
     {'salary': 72335, 'from_date': '1994-12-30', 'to_date': '1995-12-30'},
     {'salary': 75173, 'from_date': '1995-12-30', 'to_date': '1996-12-29'},
     {'salary': 79066, 'from_date': '1996-12-29', 'to_date': '1997-12-29'},
     {'salary': 79152, 'from_date': '1997-12-29', 'to_date': '1998-12-29'},
     {'salary': 83440, 'from_date': '1998-12-29', 'to_date': '1999-12-29'},
     {'salary': 85394, 'from_date': '1999-12-29', 'to_date': '2000-12-28'},
     {'salary': 88298, 'from_date': '2000-12-28', 'to_date': '2001-12-28'},
     {'salary': 88443, 'from_date': '2001-12-28', 'to_date': '9999-01-01'}]},
   {'emp_no': 110114,
    'first_name': 'Isamu',
    'last_name': 'Legleitner',
    'gender': 'F',
    'birth_date': '1957-03-28',
    'hire_date': '1985-01-14',
    'titles': [{'title': 'Manager',
      'from_date': '1989-12-17',
      'to_date': '9999-01-01'},
     {'title': 'Senior Staff',
      'from_date': '1985-01-14',
      'to_date': '1989-12-17'}],
    'salaries': [{'salary': 52070,
      'from_date': '1985-01-14',
      'to_date': '1986-01-14'},
     {'salary': 55297, 'from_date': '1986-01-14', 'to_date': '1987-01-14'},
     {'salary': 55767, 'from_date': '1987-01-14', 'to_date': '1988-01-14'},
     {'salary': 58800, 'from_date': '1988-01-14', 'to_date': '1989-01-13'},
     {'salary': 62669, 'from_date': '1989-01-13', 'to_date': '1990-01-13'},
     {'salary': 62593, 'from_date': '1990-01-13', 'to_date': '1991-01-13'},
     {'salary': 63447, 'from_date': '1991-01-13', 'to_date': '1992-01-13'},
     {'salary': 67322, 'from_date': '1992-01-13', 'to_date': '1993-01-12'},
     {'salary': 67761, 'from_date': '1993-01-12', 'to_date': '1994-01-12'},
     {'salary': 68166, 'from_date': '1994-01-12', 'to_date': '1995-01-12'},
     {'salary': 71652, 'from_date': '1995-01-12', 'to_date': '1996-01-12'},
     {'salary': 71375, 'from_date': '1996-01-12', 'to_date': '1997-01-11'},
     {'salary': 75708, 'from_date': '1997-01-11', 'to_date': '1998-01-11'},
     {'salary': 79782, 'from_date': '1998-01-11', 'to_date': '1999-01-11'},
     {'salary': 79679, 'from_date': '1999-01-11', 'to_date': '2000-01-11'},
     {'salary': 80423, 'from_date': '2000-01-11', 'to_date': '2001-01-10'},
     {'salary': 82594, 'from_date': '2001-01-10', 'to_date': '2002-01-10'},
     {'salary': 83457, 'from_date': '2002-01-10', 'to_date': '9999-01-01'}]}]},
 'd003': {'dept_no': 'd003',
  'dept_name': 'Human Resources',
  'employees': [],
  'managers': [{'emp_no': 110183,
    'first_name': 'Shirish',
    'last_name': 'Ossenbruggen',
    'gender': 'F',
    'birth_date': '1953-06-24',
    'hire_date': '1985-01-01',
    'titles': [{'title': 'Manager',
      'from_date': '1985-01-01',
      'to_date': '1992-03-21'},
     {'title': 'Staff', 'from_date': '1992-03-21', 'to_date': '9999-01-01'}],
    'salaries': [{'salary': 48291,
      'from_date': '1985-01-01',
      'to_date': '1986-01-01'},
     {'salary': 50319, 'from_date': '1986-01-01', 'to_date': '1987-01-01'},
     {'salary': 51622, 'from_date': '1987-01-01', 'to_date': '1988-01-01'},
     {'salary': 51298, 'from_date': '1988-01-01', 'to_date': '1988-12-31'},
     {'salary': 55582, 'from_date': '1988-12-31', 'to_date': '1989-12-31'},
     {'salary': 57197, 'from_date': '1989-12-31', 'to_date': '1990-12-31'},
     {'salary': 59629, 'from_date': '1990-12-31', 'to_date': '1991-12-31'},
     {'salary': 60356, 'from_date': '1991-12-31', 'to_date': '1992-12-30'},
     {'salary': 63677, 'from_date': '1992-12-30', 'to_date': '1993-12-30'},
     {'salary': 63190, 'from_date': '1993-12-30', 'to_date': '1994-12-30'},
     {'salary': 64652, 'from_date': '1994-12-30', 'to_date': '1995-12-30'},
     {'salary': 66530, 'from_date': '1995-12-30', 'to_date': '1996-12-29'},
     {'salary': 67423, 'from_date': '1996-12-29', 'to_date': '1997-12-29'},
     {'salary': 70638, 'from_date': '1997-12-29', 'to_date': '1998-12-29'},
     {'salary': 72240, 'from_date': '1998-12-29', 'to_date': '1999-12-29'},
     {'salary': 74584, 'from_date': '1999-12-29', 'to_date': '2000-12-28'},
     {'salary': 77367, 'from_date': '2000-12-28', 'to_date': '2001-12-28'},
     {'salary': 79229, 'from_date': '2001-12-28', 'to_date': '9999-01-01'}]},
   {'emp_no': 110228,
    'first_name': 'Karsten',
    'last_name': 'Sigstam',
    'gender': 'F',
    'birth_date': '1958-12-02',
    'hire_date': '1985-08-04',
    'titles': [{'title': 'Manager',
      'from_date': '1992-03-21',
      'to_date': '9999-01-01'},
     {'title': 'Senior Staff',
      'from_date': '1985-08-04',
      'to_date': '1992-03-21'}],
    'salaries': [{'salary': 40000,
      'from_date': '1985-08-04',
      'to_date': '1986-08-04'},
     {'salary': 43069, 'from_date': '1986-08-04', 'to_date': '1987-08-04'},
     {'salary': 44284, 'from_date': '1987-08-04', 'to_date': '1988-08-03'},
     {'salary': 47816, 'from_date': '1988-08-03', 'to_date': '1989-08-03'},
     {'salary': 49541, 'from_date': '1989-08-03', 'to_date': '1990-08-03'},
     {'salary': 49547, 'from_date': '1990-08-03', 'to_date': '1991-08-03'},
     {'salary': 50122, 'from_date': '1991-08-03', 'to_date': '1992-08-02'},
     {'salary': 49867, 'from_date': '1992-08-02', 'to_date': '1993-08-02'},
     {'salary': 51472, 'from_date': '1993-08-02', 'to_date': '1994-08-02'},
     {'salary': 55445, 'from_date': '1994-08-02', 'to_date': '1995-08-02'},
     {'salary': 55733, 'from_date': '1995-08-02', 'to_date': '1996-08-01'},
     {'salary': 57431, 'from_date': '1996-08-01', 'to_date': '1997-08-01'},
     {'salary': 58932, 'from_date': '1997-08-01', 'to_date': '1998-08-01'},
     {'salary': 59259, 'from_date': '1998-08-01', 'to_date': '1999-08-01'},
     {'salary': 61684, 'from_date': '1999-08-01', 'to_date': '2000-07-31'},
     {'salary': 62596, 'from_date': '2000-07-31', 'to_date': '2001-07-31'},
     {'salary': 62276, 'from_date': '2001-07-31', 'to_date': '2002-07-31'},
     {'salary': 65400, 'from_date': '2002-07-31', 'to_date': '9999-01-01'}]}]},
 'd001': {'dept_no': 'd001',
  'dept_name': 'Marketing',
  'employees': [],
  'managers': [{'emp_no': 110039,
    'first_name': 'Vishwani',
    'last_name': 'Minakawa',
    'gender': 'M',
    'birth_date': '1963-06-21',
    'hire_date': '1986-04-12',
    'titles': [{'title': 'Manager',
      'from_date': '1991-10-01',
      'to_date': '9999-01-01'},
     {'title': 'Senior Staff',
      'from_date': '1986-04-12',
      'to_date': '1991-10-01'}],
    'salaries': [{'salary': 69941,
      'from_date': '1986-04-12',
      'to_date': '1987-04-12'},
     {'salary': 71574, 'from_date': '1987-04-12', 'to_date': '1988-04-11'},
     {'salary': 73553, 'from_date': '1988-04-11', 'to_date': '1989-04-11'},
     {'salary': 75124, 'from_date': '1989-04-11', 'to_date': '1990-04-11'},
     {'salary': 78405, 'from_date': '1990-04-11', 'to_date': '1991-04-11'},
     {'salary': 81872, 'from_date': '1991-04-11', 'to_date': '1992-04-10'},
     {'salary': 83722, 'from_date': '1992-04-10', 'to_date': '1993-04-10'},
     {'salary': 85016, 'from_date': '1993-04-10', 'to_date': '1994-04-10'},
     {'salary': 85421, 'from_date': '1994-04-10', 'to_date': '1995-04-10'},
     {'salary': 88503, 'from_date': '1995-04-10', 'to_date': '1996-04-09'},
     {'salary': 92469, 'from_date': '1996-04-09', 'to_date': '1997-04-09'},
     {'salary': 94250, 'from_date': '1997-04-09', 'to_date': '1998-04-09'},
     {'salary': 95993, 'from_date': '1998-04-09', 'to_date': '1999-04-09'},
     {'salary': 100350, 'from_date': '1999-04-09', 'to_date': '2000-04-08'},
     {'salary': 101901, 'from_date': '2000-04-08', 'to_date': '2001-04-08'},
     {'salary': 104115, 'from_date': '2001-04-08', 'to_date': '2002-04-08'},
     {'salary': 106491,
      'from_date': '2002-04-08',
      'to_date': '9999-01-01'}]}]},
 'd004': {'dept_no': 'd004',
  'dept_name': 'Production',
  'employees': [],
  'managers': [{'emp_no': 110303,
    'first_name': 'Krassimir',
    'last_name': 'Wegerle',
    'gender': 'F',
    'birth_date': '1956-06-08',
    'hire_date': '1985-01-01',
    'titles': [{'title': 'Manager',
      'from_date': '1985-01-01',
      'to_date': '1988-09-09'},
     {'title': 'Technique Leader',
      'from_date': '1988-09-09',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 42093,
      'from_date': '1985-01-01',
      'to_date': '1986-01-01'},
     {'salary': 42808, 'from_date': '1986-01-01', 'to_date': '1987-01-01'},
     {'salary': 42368, 'from_date': '1987-01-01', 'to_date': '1988-01-01'},
     {'salary': 44954, 'from_date': '1988-01-01', 'to_date': '1988-12-31'},
     {'salary': 47446, 'from_date': '1988-12-31', 'to_date': '1989-12-31'},
     {'salary': 50390, 'from_date': '1989-12-31', 'to_date': '1990-12-31'},
     {'salary': 52603, 'from_date': '1990-12-31', 'to_date': '1991-12-31'},
     {'salary': 56607, 'from_date': '1991-12-31', 'to_date': '1992-12-30'},
     {'salary': 57246, 'from_date': '1992-12-30', 'to_date': '1993-12-30'},
     {'salary': 59135, 'from_date': '1993-12-30', 'to_date': '1994-12-30'},
     {'salary': 60568, 'from_date': '1994-12-30', 'to_date': '1995-12-30'},
     {'salary': 60162, 'from_date': '1995-12-30', 'to_date': '1996-12-29'},
     {'salary': 63859, 'from_date': '1996-12-29', 'to_date': '1997-12-29'},
     {'salary': 67166, 'from_date': '1997-12-29', 'to_date': '1998-12-29'},
     {'salary': 68314, 'from_date': '1998-12-29', 'to_date': '1999-12-29'},
     {'salary': 68483, 'from_date': '1999-12-29', 'to_date': '2000-12-28'},
     {'salary': 70157, 'from_date': '2000-12-28', 'to_date': '2001-12-28'},
     {'salary': 72583, 'from_date': '2001-12-28', 'to_date': '9999-01-01'}]},
   {'emp_no': 110344,
    'first_name': 'Rosine',
    'last_name': 'Cools',
    'gender': 'F',
    'birth_date': '1961-09-07',
    'hire_date': '1985-11-22',
    'titles': [{'title': 'Manager',
      'from_date': '1988-09-09',
      'to_date': '1992-08-02'},
     {'title': 'Senior Engineer',
      'from_date': '1985-11-22',
      'to_date': '1988-09-09'},
     {'title': 'Technique Leader',
      'from_date': '1992-08-02',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 50365,
      'from_date': '1985-11-22',
      'to_date': '1986-11-22'},
     {'salary': 50953, 'from_date': '1986-11-22', 'to_date': '1987-11-22'},
     {'salary': 53052, 'from_date': '1987-11-22', 'to_date': '1988-11-21'},
     {'salary': 55704, 'from_date': '1988-11-21', 'to_date': '1989-11-21'},
     {'salary': 59323, 'from_date': '1989-11-21', 'to_date': '1990-11-21'},
     {'salary': 61115, 'from_date': '1990-11-21', 'to_date': '1991-11-21'},
     {'salary': 61937, 'from_date': '1991-11-21', 'to_date': '1992-11-20'},
     {'salary': 62145, 'from_date': '1992-11-20', 'to_date': '1993-11-20'},
     {'salary': 63370, 'from_date': '1993-11-20', 'to_date': '1994-11-20'},
     {'salary': 63705, 'from_date': '1994-11-20', 'to_date': '1995-11-20'},
     {'salary': 67427, 'from_date': '1995-11-20', 'to_date': '1996-11-19'},
     {'salary': 67180, 'from_date': '1996-11-19', 'to_date': '1997-11-19'},
     {'salary': 70176, 'from_date': '1997-11-19', 'to_date': '1998-11-19'},
     {'salary': 72174, 'from_date': '1998-11-19', 'to_date': '1999-11-19'},
     {'salary': 73754, 'from_date': '1999-11-19', 'to_date': '2000-11-18'},
     {'salary': 73864, 'from_date': '2000-11-18', 'to_date': '2001-11-18'},
     {'salary': 75121, 'from_date': '2001-11-18', 'to_date': '9999-01-01'}]},
   {'emp_no': 110386,
    'first_name': 'Shem',
    'last_name': 'Kieras',
    'gender': 'M',
    'birth_date': '1953-10-04',
    'hire_date': '1988-10-14',
    'titles': [{'title': 'Manager',
      'from_date': '1992-08-02',
      'to_date': '1996-08-30'},
     {'title': 'Technique Leader',
      'from_date': '1988-10-14',
      'to_date': '1992-08-02'},
     {'title': 'Technique Leader',
      'from_date': '1996-08-30',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 40000,
      'from_date': '1988-10-14',
      'to_date': '1989-10-14'},
     {'salary': 42536, 'from_date': '1989-10-14', 'to_date': '1990-10-14'},
     {'salary': 45922, 'from_date': '1990-10-14', 'to_date': '1991-10-14'},
     {'salary': 47117, 'from_date': '1991-10-14', 'to_date': '1992-10-13'},
     {'salary': 47794, 'from_date': '1992-10-13', 'to_date': '1993-10-13'},
     {'salary': 51381, 'from_date': '1993-10-13', 'to_date': '1994-10-13'},
     {'salary': 53926, 'from_date': '1994-10-13', 'to_date': '1995-10-13'},
     {'salary': 56028, 'from_date': '1995-10-13', 'to_date': '1996-10-12'},
     {'salary': 56528, 'from_date': '1996-10-12', 'to_date': '1997-10-12'},
     {'salary': 56530, 'from_date': '1997-10-12', 'to_date': '1998-10-12'},
     {'salary': 59960, 'from_date': '1998-10-12', 'to_date': '1999-10-12'},
     {'salary': 61207, 'from_date': '1999-10-12', 'to_date': '2000-10-11'},
     {'salary': 64392, 'from_date': '2000-10-11', 'to_date': '2001-10-11'},
     {'salary': 66995, 'from_date': '2001-10-11', 'to_date': '9999-01-01'}]},
   {'emp_no': 110420,
    'first_name': 'Oscar',
    'last_name': 'Ghazalie',
    'gender': 'M',
    'birth_date': '1963-07-27',
    'hire_date': '1992-02-05',
    'titles': [{'title': 'Manager',
      'from_date': '1996-08-30',
      'to_date': '9999-01-01'},
     {'title': 'Senior Engineer',
      'from_date': '1992-02-05',
      'to_date': '1996-08-30'}],
    'salaries': [{'salary': 40000,
      'from_date': '1992-02-05',
      'to_date': '1993-02-04'},
     {'salary': 40762, 'from_date': '1993-02-04', 'to_date': '1994-02-04'},
     {'salary': 42236, 'from_date': '1994-02-04', 'to_date': '1995-02-04'},
     {'salary': 42891, 'from_date': '1995-02-04', 'to_date': '1996-02-04'},
     {'salary': 43304, 'from_date': '1996-02-04', 'to_date': '1997-02-03'},
     {'salary': 43862, 'from_date': '1997-02-03', 'to_date': '1998-02-03'},
     {'salary': 47053, 'from_date': '1998-02-03', 'to_date': '1999-02-03'},
     {'salary': 50868, 'from_date': '1999-02-03', 'to_date': '2000-02-03'},
     {'salary': 53773, 'from_date': '2000-02-03', 'to_date': '2001-02-02'},
     {'salary': 53978, 'from_date': '2001-02-02', 'to_date': '2002-02-02'},
     {'salary': 56654, 'from_date': '2002-02-02', 'to_date': '9999-01-01'}]}]},
 'd006': {'dept_no': 'd006',
  'dept_name': 'Quality Management',
  'employees': [],
  'managers': [{'emp_no': 110725,
    'first_name': 'Peternela',
    'last_name': 'Onuegbe',
    'gender': 'F',
    'birth_date': '1961-03-14',
    'hire_date': '1985-01-01',
    'titles': [{'title': 'Manager',
      'from_date': '1985-01-01',
      'to_date': '1989-05-06'},
     {'title': 'Technique Leader',
      'from_date': '1989-05-06',
      'to_date': '9999-01-01'}],
    'salaries': [{'salary': 61357,
      'from_date': '1985-01-01',
      'to_date': '1986-01-01'},
     {'salary': 64407, 'from_date': '1986-01-01', 'to_date': '1987-01-01'},
     {'salary': 67358, 'from_date': '1987-01-01', 'to_date': '1988-01-01'},
     {'salary': 71627, 'from_date': '1988-01-01', 'to_date': '1988-12-31'},
     {'salary': 74493, 'from_date': '1988-12-31', 'to_date': '1989-12-31'},
     {'salary': 78015, 'from_date': '1989-12-31', 'to_date': '1990-12-31'},
     {'salary': 78503, 'from_date': '1990-12-31', 'to_date': '1991-12-31'},
     {'salary': 81267, 'from_date': '1991-12-31', 'to_date': '1992-12-30'},
     {'salary': 81256, 'from_date': '1992-12-30', 'to_date': '1993-12-30'},

In [ ]:
department_records = list(department_data.values())

with open('department_data3.json', 'w') as json_file:
    json.dump(department_data, json_file)

print("Data denormalized and exported to department_data.json.")

Data denormalized and exported to department_data.json.

In [ ]:
department_data.values()

## Department-centric denormalization based on current job

In [26]:
department_data={}

In [27]:
current_date = '9999-01-01'

In [28]:
for _, department in departments_df.iterrows():
    dept_no = department['dept_no']
    department_data[dept_no] = {
        'dept_no': dept_no,
        'dept_name': department['dept_name'],
        'employees': []
    }

In [ ]:
for _, employee in employees_df.iterrows():
    emp_no = employee['emp_no']
    emp_data = {
        'emp_no': emp_no,
        'first_name': employee['first_name'],
        'last_name': employee['last_name'],
        'titles': [],
        'salaries': []
    }
    
    current_dept = dept_emp_df[(dept_emp_df['emp_no'] == emp_no) & 
                               (dept_emp_df['to_date'] >= current_date)]
    
    if not current_dept.empty:
        dept_no = current_dept.iloc[0]['dept_no']
        if dept_no in department_data:
            # Add titles for the employee
            titles_for_employee = titles_df[(titles_df['emp_no'] == emp_no) & 
                                            (titles_df['to_date'] >= current_date)]
            for _, title_record in titles_for_employee.iterrows():
                emp_data['titles'].append({
                    'title': title_record['title'],
                    'from_date': title_record['from_date'],
                    'to_date': title_record['to_date']
                })

            # Add salaries for the employee
            salaries_for_employee = salaries_df[(salaries_df['emp_no'] == emp_no) & 
                                                (salaries_df['to_date'] >= current_date)]
            for _, salary_record in salaries_for_employee.iterrows():
                emp_data['salaries'].append({
                    'salary': salary_record['salary'],
                    'from_date': salary_record['from_date'],
                    'to_date': salary_record['to_date']
                })

            department_data[dept_no]['employees'].append(emp_data)

In [ ]:
department_records = list(department_data.values())

# Export the data to a JSON file (or your preferred storage)
with open('C:/Users/rosel/Desktop/Structures_de_données_cloud/department_data_current.json', 'w') as json_file:
    json.dump(department_records, json_file, indent=2)

print("Department-centric denormalization created and exported.")